@reference "./global.css";

#content > * + * {
  @apply mt-5;
}
#content h2 {
  @apply text-3xl font-bold;
}
#content > * + h2 {
  @apply mt-10;
}
#content > h3 {
  @apply text-xl font-bold;
}
#content > * + h3 {
  @apply mt-7;
}
#content a {
  @apply text-cyan-600 underline;
}
#content a:hover {
  @apply text-cyan-900;
}
#content ul {
  @apply list-disc pl-4;
}
#content ol {
  @apply list-decimal pl-4;
}
#content :where(li, ol) ul {
  @apply list-[circle] pl-4;
}
#content table {
  @apply w-full border-collapse text-sm;
}
#content table th {
  @apply border border-zinc-300 bg-zinc-100 px-2 py-1 text-left font-bold;
}
#content table td {
  @apply border border-zinc-300 bg-white px-2 py-1;
}
