<div class="@container">
  <header
    class="flex w-full flex-wrap items-center justify-between gap-x-3 px-[clamp(calc(var(--spacing)*3),-1rem+10cqi,5rem)] py-[clamp(calc(var(--spacing)*3),-1rem+10cqi,2rem)] text-xs font-bold @xl:text-sm"
  >
    <a href="/">綿貫佳祐</a>
    <span> デザインポートフォリオ</span>
  </header>
</div>
