<div class="-m-2 flex text-zinc-950">
  <a
    href="https://twitter.com/kskwtnk"
    class="rounded-md p-2 transition-colors hover:bg-slate-50"
    title="X (Twitter)"
  >
    <img src="/logo-x.svg" alt="" class="w-4" />
  </a>
  <a
    href="https://www.instagram.com/kskwtnk"
    class="rounded-md p-2 transition-colors hover:bg-slate-50"
    title="Instagram"
  >
    <img src="/logo-instagram.svg" alt="" class="w-4" />
  </a>
  <a
    href="https://github.com/kskwtnk"
    class="rounded-md p-2 transition-colors hover:bg-slate-50"
    title="GitHub"
  >
    <img src="/logo-github.svg" alt="" class="w-4" />
  </a>
</div>
