---
import "@fontsource/shippori-mincho/400.css";
import "@fontsource/shippori-mincho/700.css";
import { ClientRouter } from "astro:transitions";
import Grainy from "../components/Grainy.astro";
import "../styles/global.css";
const { title, excerpt = "綿貫佳祐のポートフォリオ" } = Astro.props;
const pageTitle = title ? `${title} | 綿貫佳祐` : "綿貫佳祐";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="description" content={excerpt} />
    <ClientRouter />
  </head>
  <body
    class="flex min-h-screen flex-col bg-zinc-100 font-serif text-zinc-950 antialiased"
  >
    <Grainy />
    <slot />
  </body>
</html>
